body {
  margin: 0;
  padding: 0;
}

.AppLayout h1 {
  color: white;
}

.HomeView {
  padding: 10px;
}

.Cover {
  height: 150px;
}

img.Cover {
  max-width: 100%;
  width: auto;
  margin: auto;
}

.AddComponent img {
  height: 2em;
}

.AppLayout__tagSelect {
  width: 30vw;
  max-height: 32px;
}

.ant-menu-item .AppLayout__tagSelect .anticon {
  min-width: inherit;
  margin-right: inherit;
  font-size: inherit;
  transition: inherit;
}
